/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }

  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  :root{

  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    font-size: calc(1rem +0.75vw);
    height: 100%;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  ul{
    margin: 0;
  }

  @font-face {
    font-family: 'Nunito Sans 7pt Bold';
    src: url('NunitoSans7pt-Bold.woff2') format('woff2'),
        url('NunitoSans7pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Condensed';
    src: url('NunitoSans7ptCondensed-Light.woff2') format('woff2'),
        url('NunitoSans7ptCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt Expanded';
    src: url('NunitoSans7ptExpanded-Regular.woff2') format('woff2'),
        url('NunitoSans7ptExpanded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 7pt';
    src: url('../fonts/nunito_sans/transfonter.org-20240922-194005/NunitoSans7pt-Medium.woff2') format('woff2'),
        url('../fonts/nunito_sans/transfonter.org-20240922-194005/NunitoSans7pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



.container {
  font-family: 'Nunito Sans 7pt', 'serif';

  min-height: 100%;

  display: grid;
  grid-auto-rows: repeat(auto-fit, minmax(100px, 1fr));
 }

 .navbar {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;

  padding: 0 2.5rem;
 }
 .navbar-left {
  display: flex;
  align-items: center;
  gap: 2.5rem;
 }
 .searchBar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: rgb(239, 239, 239);
  border-radius: 2.5rem;
  padding: 0.5rem;
 }
 .searchBar > input {
  border-radius: 2.5rem;
  border: none;
  width: calc(14rem + 1.75vw);
  background-color: rgb(239, 239, 239);

  ;
 }
 .navbar-right {

 }
 .navbar-right > button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.75rem;
 }


 .header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: repeat(auto-fit,(minmax(100px, auto)));

  margin: 4rem 1rem 4rem 3rem;
 }
 .headerLeft{
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
 }
 .headerLeft > h3 {
  font-size: 2.5rem;
  color: #0D0842;
  font-weight: 200;
 }
 .headerLeft > button {
  width: 12rem;
  border-radius: 1.5rem;
  padding: 0.5rem 0.75rem;
  border-style: none;
  background-color: #FFCE1A;
  color: #FFFFF8;
 }
 .headerRight{
  display: flex;
  justify-content: center
 }
 

 .collection {
  display: grid;
  gap: 3.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5rem 2rem;
 }
 .bookContainer {
  display: flex;
  gap: 1.5rem;
  grid-auto-rows: repeat(auto-fit, minmax(100px, 1rem));

 }
 .bookRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
 }
 .bookRight > button {
    width: 12rem;
  border-radius: 1.5rem;
  padding: 0.5rem 0.75rem;
  border-style: none;
  background-color: #FFCE1A;
  color: #FFFFF8;
 }



 .footerContainer{
  display: flex;
  justify-content: center;
  gap: 3rem;
 }