/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    height: 100%;
    font-family: 'poppins-regular';
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
ul{
  margin: 0;
  padding: 0;
}
li {
    list-style: none;
}
/**Fontface**/
@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/font/Poppins-Webfont/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts//font/Poppins-Webfont/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppins-medium';
    src: url('../foonts/font/Poppins-Webfont/poppins-medium-webfont.woff2') format('woff2'),
         url('../fonts/font/Poppins-Webfont/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/font/Poppins-Webfont/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/font/Poppins-Webfont/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
        /**Font face**/



:root {
    height: 100vh;
    font-size: 16px;
    font-family: 'poppins-regular';
}


.sign-up-container {
    display: flex;

    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.header{
  align-self: center;
}
.sign-up-container > h6 {
    font-size: 2rem;
}
.sign-up-section {
    display: flex;
    flex: 2 1 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.password-criteria {
  display: flex;
}
.form{
  flex: 2 1 0;
  display: flex;
  justify-content: space-between;
  width: 60%;
  flex-direction: column;
  justify-content: center;
}
form > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}
.pass-criteria > ul > li{
  font-size: 0.875rem;
  width: fit-content;
}
.pass-criteria > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}
input{
  border-radius: 1vh;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(102, 102, 102, 35%);
  height: 5vh;
}

.img-section {
    height: 100%;
}
.img-section> img{
    height: 100%;
}
