/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }

  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  :root{

    height: 100vh;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    font-size: 16px;
    height: 100%;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  ul{
    margin: 0;
  }

  .container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;

    height: 100%;
  }
  .main-page{
    display: grid;
    grid-template-rows: 1fr 4fr;
  }
  .sidebar-container{
    display: grid;
    grid-template-rows: 5rem 15rem 8rem;
    justify-content: center;
    gap: 4rem;

    background: linear-gradient(180deg, #9F69B8 0%, rgba(77, 139, 204, 0.99) 91.15%);
  }
  .sidebar-header{
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
  }
  .sidebar-content, .sidebar-extras{
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1rem));
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    font-weight: 700;
  
  }
  .sidebar-header, .home, .profile, .messages, .history, .tasks, .communities, .settings, .support, .privacy{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #FFF;
  }
  .sidebar-content div p{
    font-weight: 700;
  }
  .header{
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
  
    padding: 0rem 3.75rem;
  }
  .top-header{
    display: flex;
    justify-content: space-between;
  }
  .tr, .tl{
    display: flex;
    gap: 1.75rem;
  }
  .main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
  
    padding: 0rem 1.75rem;
    background: #DEE6EC;
  }
  .main-right {
    display: flex;
  }
  .main-left{
    display: grid;
    
  }
  .projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    align-items: center;
    padding: 1.75rem 1.75rem;
  }
  .article {
    padding: 1rem;
    border-radius: 1rem;
    background: #FFFFFF;
    height: 100%;
  }
  .announcements {
    background: #DEE6EC;
  }
  .announcement {
    background: #FFFFFF;
  }
