/** Font Face **/
@font-face {
    font-family: 'Rancho';
    src: url('../fonts/rancho-regular-webfont.woff2') format('woff2'),
         url('../fonts/rancho-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/librefranklin-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** Css Reset **/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }

  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  :root{
    background: #EFEFEF;
    height: 100vh;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    font-size: 16px;
    height: 100%;
    font-family: 'Libre Franklin';
    -webkit-font-smoothing: antialiased;
    margin: 0 3.44rem;
    padding: 1.44rem 0;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  ul{
    margin: 0;
  }

  header{
    background: #EFEFEF;
  }
  header{
    /**Layout**/
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 90rem;
    max-height: 12rem;
  }
  .header-left > h3{
    /**Typography**/
    color: #000;
    font-size: 6rem;
    font-style: normal;
    font-family: 'Rancho';
    font-weight: 400;
  }
  .header-right{
    /**Layout**/
    display: flex;
    align-items: center;
    gap: 7.62rem;
  
    /**Typography**/
    color: #000;
    font-family: "Libre Franklin";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .header-right > nav >button {
    background: #EFEFEF;
    border: none;
    
  }
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grid-container:nth-child(2n){
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
  }
  .grid-container:nth-child(2n+1){
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    gap: 1.44rem;
  }