/** Font Face **/
@font-face {
    font-family: 'Rancho';
    src: url('../fonts/rancho-regular-webfont.woff2') format('woff2'),
         url('../fonts/rancho-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/librefranklin-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** Css Reset **/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }

  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  :root{

    height: 100vh;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    font-size: 16px;
    height: 100%;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  ul{
    margin: 0;
  }

  header{
    /**Layout**/
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 90rem;
    max-height: 12rem;
  }
  .header-left > h3{
    /**Typography**/
    color: #000;
    font-size: 6rem;
    font-style: normal;
    font-family: 'Rancho';
    font-weight: 400;
  }
  .header-right{
    /**Layout**/
    display: flex;
    align-items: center;
    gap: 7.62rem;
  
    /**Typography**/
    color: #000;
    font-family: "Libre Franklin";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .header-right > nav >button {
    background: #FFF;
    border: none;
    
  }
  #content {
    /**Layout**/
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 0.35fr));
    margin: 0 auto;
    justify-content: space-between;
    max-width: 90rem;
    align-items: center;
    justify-items: center;
  }
  .content-left{
    display: flex;
    flex-direction: column;
    gap: 7.88rem;
    align-items: center;
  }
  .content-left > .title{
    /**Typography**/
    font-size: 3rem;
    font-family: "Libre Franklin";
    font-weight: 300;
    font-style: normal;
    line-height: normal;
  
    /**Layout**/
    max-width: 27.6875rem;
    gap: 7.88rem
  }
  .content-left > .button{
    /**Typography**/
    font-size: 1.25rem;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    
    /**Layout**/
    max-width: 27.6875rem;
  }
  .button {
    /**Layout**/
    display: flex;
    flex-direction: row;
    gap: 2.75rem;
  }
  .button > button {
    /**Layout**/
    width: 10.3125rem;
    height: 3.125rem;

    /**Style**/
    border-radius: 0.625rem;
    border: none;
    background-color: #fff;
  }
  #buttonLeft {
    /**Style**/
    color: #FFF;
    background: #E76F51;
    border: none;
    border-radius: 0.625rem;
    box-shadow: 5px 5px 15px 0px #F4A261;
  }