.grid-container {
    display: inline-grid;
    grid-template: repeat(5, 40px) / repeat(5, 40px);
    background-color: lightblue;
}
.room {
    font-size: 50%;
    border: 1px solid black;
}
#living-room {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}
#Bathroom {
    grid-row-start: 3;
    grid-row-end: 6;
}
#kitchen {
    grid-column-start: 5;
    grid-column-end: 6;

    grid-row-start: 3;
    grid-row-end: 6;
}

